sections.csv
sections.csv
.ipynb_checkpoints/models_rating_4_manipulating_parameters-Copy1-checkpoint.ipynb
output_requirements_distances.xlsx
output.xlsx
.ipynb_checkpoints/3GPP_files-checkpoint.txt
.ipynb_checkpoints/read_word_document-checkpoint.ipynb
.ipynb_checkpoints/read_word_document-checkpoint.ipynb
output.xlsx
output_requirements_distances.xlsx
output_requirements_distances.xlsx
output_requirements_distances_b.xlsx
output_requirements_distances_g.xlsx
output_requirements_distances.xlsx
temp.html
output_requirements_distances.xlsx
output__w15__23_A3.xlsx
output_reqs_distances_w15__23_A3.xlsx
~$output_reqs_distances_w15__23_A3.xlsx
~$output_requirements_generated.xlsx
output_requirements_distances_g_min.xlsx
output_requirements_temp.xlsx
output_requirements_generated_cont.xlsx
output_requirements_generated_baseline_17_reqs.xlsx
.ipynb_checkpoints/3REQ__w14-checkpoint.ipynb
/.ipynb_checkpoints
/old_stuff
/old_stuff/.ipynb_checkpoints
/old_stuff__1
/old_stuff__2
/old_stuff__3
/old_stuff__4
/old_stuff
